@import "../../Assets/fixed-properties/properties.scss";
@import "../../Assets/colors/colors.scss";

.analytics_container{ 
    width: $navbar-width;
   .analytics_wrapper{
    padding: $padding-elements;
   }
    .total-sum{
        margin-top: 50px;
        color: $sum;
    }
    .chart{
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
}