@import "../../Assets/colors/colors.scss";

.shopping_navbar {
    ul {
        width: 100%;
        color: white;
        border-left: 1px solid black;
        padding: 20px 10px;
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: space-between;
        background-color: $header;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 10px;

        &:hover {
            background-color: darken($header, 10%);
        }
    }
}
.hidden{
    display: none;
}
.shopping_navbar_dropdown {
    display: flex;
    z-index: 10;
    justify-content: center;
    text-align: center;
    ul {
        width: 100%;
        
        border-radius: 0 0 10px 10px;
        color: white;   
        padding: 50px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;    
        background-color: $header;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 10px;

        &:hover {
            background-color: darken($header, 10%);
        }
    }
   
}

@media screen and (max-width: 764px) {
    .shopping_navbar{
        display: none;
    }
}

