@import "../../Assets/colors/colors.scss";

.layout_container {
    width: 100%;
    height: 100vh;
    display: flex;

    .create-shopping-list {
        margin-bottom: 10px;
    }

    .delete-btn {
        margin-left: 5px;
    }

    .shopping-list {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    &_header {
        background-color: $header;
        width: 30%;
        height: 100vh;

        nav {
            ul {
                padding: 20px 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                background-color: $header;
            }

            .analytics {
                margin-top: 100px;
            }

            li {
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                    text-decoration: none;
                    color: $text-color;
                    padding: 10px;

                    &:hover {
                        background-color: $hover;
                    }

                    &.active {
                        background-color: $active;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .layout_container_header nav li a {
        padding: 5px;
        font-size: smaller;
    }
}