@import "../../Assets/colors/colors.scss";
@import "../../Assets/fixed-properties/properties.scss";
.shopping_list_container {
    width: $navbar-width;

    .active {
        background-color: darken($header, 20%);
    }

}

.dropdown-menu.hidden {
    display: none;
}

/* .dropdown-menu.visible{
    display: block;
} */
.menu_button {
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
}

@media screen and (max-width: 764px) {
    .menu_button {
        display: block;
    }
}